html {
  background-color: black;
  }
body {
  color: white;
  margin: auto;
  padding: 20px;
  font-family: 'Source Code Pro', monospace;
  max-width: 36em;
/*  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px */
  hyphens: manual;
  overflow-wrap: break-word;
  text-rendering: auto;
  }
.top-section {
  text-align: center;
}
.top-section img {
  border-radius: 25px;
  width: 80%;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
  }
h1 {
  font-size: 25pt;
  }
h2 {
  font-size: 20pt;
  }
p, ul, ol, code {
  font-size: 15pt;
  }
footer p {
  font-size: 13pt;
  }
p {
  line-height: 1.3;
  }
ul li {
  list-style-type: circle;
}
ol, ul {
  padding-left: 1.7em;
  margin-top: 1em;
  }
table {
  margin: 1em 0;
  border-collapse: collapse;
  border-color: #fff;
  display: block;
  overflow-x: auto;
  }
hr {
  margin: 1em 0;
  height: 1px;
  }
a {
  text-decoration: underline;
  }
a:link, a:visited {
  color: #ffc0cb;
  }
a:hover, a:active {
  color: #ccccff;
  }
img {
  max-width: 100%;
  }
footer {
  text-align: center;
  padding: 1.4em;
}

/* mobile layout */
@media only screen and (max-width: 768px) {
  h1 {
	font-size: 19pt;
  }
  h2 {
	font-size: 17pt;
  }
  p, ul, ol, code {
	font-size: 13pt;
  }
  footer p {
    font-size: 11pt;
    }
  footer img {
	width: 45%;
  }
}

/* -- not used but saving this for later */
/* code {
  font-family: monospace;
  margin: 0;
  border-color: white;
  overflow: scroll;
  } */
/* blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  } */

